name: ci
on:
  - push

concurrency: 
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Update Ubuntu package lists
        run: sudo apt update
      - name: Install Ubuntu packages
        run: >
          sudo apt install
          fonts-anonymous-pro
          fonts-noto-core
      - uses: jdx/mise-action@v2
      - name: Install Font Awesome
        run: |
          mkdir -p "$HOME/.local/share/fonts"
          curl -L https://github.com/FortAwesome/Font-Awesome/releases/download/${FONTAWESOME_VERSION}/fontawesome-free-${FONTAWESOME_VERSION}-desktop.zip -o fontawesome.zip
          unzip -j fontawesome.zip 'fontawesome-free-${FONTAWESOME_VERSION}-desktop/otfs/*' -d "$HOME/.local/share/fonts"
          fc-cache
        env:
          FONTAWESOME_VERSION: 7.0.0
      - run: just build
      - name: Upload built PDF
        uses: actions/upload-artifact@v4
        with:
          name: pdf
          path: gbctr.pdf
  deploy:
    name: Deploy PDF
    needs: [build]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Install Ubuntu packages
        run: sudo snap install aws-cli --classic
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::570943329925:role/github-gb-ctr
          role-session-name: Github-Actions
      - name: Download built PDF
        uses: actions/download-artifact@v4
        with:
          name: pdf
      - name: Upload to S3
        run: |
          aws s3 cp gbctr.pdf s3://gbdocs.gekkio.fi/gbctr.pdf
